    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-image: url(png/model.png);
        font-family: 'Roboto', sans-serif;
        color: #1E1E1E;
        width: 100%;
        background-color: white;
        background-repeat: no-repeat;
        background-size: 200%;
        background-position-x: center;
        background-position-y: -240px;
        background-attachment: fixed;
    }
    
    h1 {
        font-weight: bold;
        font-size: 11vw;
    }
    
    h2 {
        font-weight: bold;
        font-size: 6vw;
    }
    
    h3 {
        font-weight: bold;
        font-size: 10vw;
    }
    
    p {
        font-weight: light;
        font-size: 5.5vw;
    }
    
    .first_section {
        margin-left: 16%;
        margin-right: 16%;
        margin-top: 23%;
        margin-bottom: 23%;
        padding-left: 3%;
        padding-right: 3%;
        position: relative;
    }
    
    .first_section p {
        font-size: 4vw;
    }
    
    .portrait {
        max-width: 100%;
        clip-path: circle();
        z-index: 2;
    }
    
    .text {
        z-index: 2;
    }
    
    .text>* {
        padding-top: 10%;
    }
    /*wenn child absolute ist, orientiert es sich an dem nächstgelegenen Parent welcher relative ist, 
daher muss first_section das Attribut relative besitzen*/
    
    .white_box {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: white;
        opacity: 90%;
        outline: 2em solid white;
        padding: 0;
        left: 0;
        /*das hat den Shift nach rechts gefixt*/
        z-index: -1;
    }
    
    .split {
        width: 100%;
        height: 10vh;
        background-color: white;
    }
    
    .second_section {
        padding-left: 12%;
        padding-right: 12%;
        background-color: white;
    }
    
    .wall {
        width: 100%;
    }
    
    .text2 {
        padding-top: 7%;
    }
    
    .text2>* {
        padding-top: 10%;
    }
    
    .third_section {
        background-color: white;
    }
    
    .ponytail {
        width: 70%;
        float: right;
        padding-bottom: 20%;
        /*dadurch wird das Bild an den rechten Rand positioniert*/
    }
    
    .text3 {
        padding-bottom: 18%;
        padding-left: 12%;
        padding-right: 12%;
    }
    
    .text3 p {
        padding-top: 18%;
    }
    
    .bikini {
        width: 70%;
    }
    
    .text4 {
        padding-top: 16%;
        padding-bottom: 18%;
        padding-left: 12%;
        padding-right: 12%;
    }
    
    .text4 p {
        padding-top: 18%;
    }
    
    .fourth_section {
        background-color: white;
    }
    
    .long_bl_stroke {
        margin: 0 auto;
        /* das hat geholfen, den Strich zu zentrieren*/
        width: 90%;
        height: 1px;
        background-color: #1E1E1E;
    }
    
    .short_bl_stroke {
        margin: 0 auto;
        width: 50%;
        height: 1px;
        background-color: #1E1E1E;
    }
    
    .columns {
        text-align: center;
        padding-left: 16%;
        padding-right: 16%;
        padding-bottom: 10%;
    }
    
    .columns h3 {
        padding-top: 20%;
        padding-bottom: 10%;
    }
    
    .columns p {
        padding-bottom: 10%;
    }
    
    .fifth_section {
        background-color: white;
        text-align: center;
        padding-left: 16%;
        padding-right: 16%;
        padding-bottom: 40%;
    }
    
    .fifth_section h3 {
        font-size: 50px;
        padding-bottom: 17%;
    }
    
    footer {
        height: 30vh;
        background-color: #D9D9D9;
    }
    /*IPAD*/
    
    @media only screen and (min-width: 685px) {
        body {
            background-image: url(png/model.png);
            font-family: 'Roboto', sans-serif;
            color: #1E1E1E;
            width: 100%;
            background-color: white;
            background-repeat: no-repeat;
            background-size: 125%;
            background-position-x: center;
            background-position-y: -260px;
            background-attachment: fixed;
        }
        h1 {
            font-weight: bold;
            font-size: 6vw;
        }
        h2 {
            font-weight: bold;
            font-size: 2vw;
        }
        h3 {
            font-weight: bold;
            font-size: 4.5vw;
        }
        p {
            font-weight: light;
            font-size: 3vw;
        }
        .first_section {
            /* margin-left: 16%;
        margin-right: 16%;
        margin-top: 23%;
        margin-bottom: 23%;
        padding-left: 3%;
        padding-right: 3%; */
            display: flex;
            align-content: space-between;
        }
        .first_section p {
            font-size: 1.5vw;
        }
        .portrait {
            clip-path: circle();
            object-fit: scale-down;
            width: 43%;
        }
        .text {
            z-index: 2;
            width: 54%;
            margin: 0;
            padding-top: 5%;
            padding-bottom: 5%;
            padding-right: 3%;
            padding-left: 3%;
        }
        .text>* {
            padding-top: 3%;
            display: flex;
        }
        /*wenn child absolute ist, orientiert es sich an dem nächstgelegenen Parent welcher relative ist, 
    daher muss first_section das Attribut relative besitzen*/
        .white_box {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: white;
            opacity: 90%;
            outline: 2em solid white;
            padding: 0;
            left: 0;
            /*das hat den Shift nach rechts gefixt*/
            z-index: -1;
        }
        .split {
            width: 100%;
            height: 10vh;
            background-color: white;
        }
        .second_section {
            padding-left: 12%;
            padding-right: 12%;
            background-color: white;
            padding-bottom: 10%;
        }
        .wall {
            width: 60%;
        }
        .text2 {
            padding-top: 6%;
            width: 80%;
        }
        .text2>* {
            padding-top: 10%;
        }
        .third_section {
            background-color: white;
            padding-bottom: 13%;
        }
        .ponytail {
            width: 42%;
            float: right;
            padding-bottom: 20%;
            /*dadurch wird das Bild an den rechten Rand positioniert*/
        }
        .text3 {
            padding-top: 5%;
            padding-bottom: 13%;
            padding-left: 12%;
            padding-right: 12%;
            width: 34%;
        }
        .text3 p {
            padding-top: 18%;
        }
        .third_section_container {
            width: 100%;
            /*das hat den shift nach links gefixt*/
            display: flex;
        }
        .bikini {
            /*HIER IST NOCH EIN FEHLER*/
            width: 48%;
            object-fit: scale-down;
            /*das hat den vertiaklen stretch verhindert*/
            align-self: flex-start;
            /*das hat das Bild am oberen Rand positioniert*/
        }
        .text4 {
            padding: 0;
            padding-left: 9%;
            width: 32%;
        }
        .text4 p {
            padding-top: 18%;
        }
        .fourth_section {
            background-color: white;
        }
        .columns {
            text-align: center;
            padding-left: 32%;
            padding-right: 32%;
            padding-bottom: 5%;
        }
        .columns h3 {
            padding-top: 20%;
            padding-bottom: 10%;
        }
        .columns p {
            padding-bottom: 10%;
        }
        .fifth_section {
            background-color: white;
            text-align: center;
            padding-left: 16%;
            padding-right: 16%;
            padding-bottom: 30%;
        }
        .fifth_section h3 {
            font-size: 50px;
            padding-bottom: 17%;
        }
    }
    
    @media only screen and (min-width: 1000px) {
        body {
            background-image: url(png/model.png);
            font-family: 'Roboto', sans-serif;
            color: #1E1E1E;
            width: 100%;
            background-color: white;
            background-repeat: no-repeat;
            background-size: 125%;
            background-position-x: center;
            background-position-y: -260px;
            background-attachment: fixed;
        }
        h1 {
            font-weight: bold;
            font-size: 5.7vw;
        }
        h2 {
            font-weight: bold;
            font-size: 1.3vw;
        }
        h3 {
            font-weight: bold;
            font-size: 2.5vw;
        }
        p {
            font-weight: light;
            font-size: 1.4vw;
        }
        .text p {
            font-size: 1.3vw;
        }
        .first_section {
            /* margin-left: 16%;
        margin-right: 16%;
        margin-top: 23%;
        margin-bottom: 23%;
        padding-left: 3%;
        padding-right: 3%; */
            display: flex;
            align-content: space-between;
        }
        .portrait {
            clip-path: circle();
            object-fit: scale-down;
            width: 37%;
        }
        .text {
            z-index: 2;
            width: 50%;
            margin: 0;
            padding-top: 8%;
            padding-bottom: 12%;
            padding-right: 3%;
            padding-left: 5%;
        }
        .text>* {
            padding-top: 3%;
            display: flex;
        }
        /*wenn child absolute ist, orientiert es sich an dem nächstgelegenen Parent welcher relative ist, 
    daher muss first_section das Attribut relative besitzen*/
        .white_box {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: white;
            opacity: 90%;
            outline: 2em solid white;
            padding: 0;
            left: 0;
            /*das hat den Shift nach rechts gefixt*/
            z-index: -1;
        }
        .split {
            width: 100%;
            height: 16vh;
            background-color: white;
        }
        .second_section {
            padding-left: 12%;
            padding-right: 12%;
            background-color: white;
            padding-bottom: 0%;
            display: flex;
            align-content: space-between;
        }
        .wall {
            width: 50%;
        }
        .text2 {
            padding-top: 0%;
            width: 43%;
            padding-left: 10%;
        }
        .text2>* {
            padding-top: 0%;
            padding-bottom: 10%;
        }
        .text2 p {
            padding-bottom: 30%;
        }
        .third_section {
            background-color: white;
            padding-bottom: 93vw;
        }
        .third_section_container {
            /*schiebt das Bikini Bild von oben herunter, damit es mit dem Ponytail Bild kollidieren kann*/
            margin-top: 18vw;
            position: absolute;
        }
        .ponytail {
            width: 40%;
            float: right;
            padding-bottom: 10%;
            /*dadurch wird das Bild an den rechten Rand positioniert*/
        }
        .text3 {
            padding-top: 5%;
            padding-bottom: 0%;
            padding-left: 12%;
            padding-right: 12%;
            width: 36%;
        }
        .text3 p {
            padding-top: 10%;
        }
        .bikini {
            /*HIER IST NOCH EIN FEHLER*/
            width: 37%;
            padding-left: 12%;
            object-fit: initial;
        }
        .text4 {
            padding: 0;
            padding-top: 20%;
            padding-left: 7%;
            width: 32%;
        }
        .text4 p {
            padding-top: 18%;
        }
        .fourth_section {
            background-color: white;
        }
        .columns {
            columns: 3;
            gap: 12%;
            text-align: center;
            padding-left: 0%;
            padding-right: 0%;
            padding-bottom: 8%;
            padding-top: 8%;
            margin-right: 12%;
            margin-left: 12%;
        }
        .columns h3 {
            padding-top: 0%;
            padding-bottom: 13%;
        }
        .columns p {
            padding-bottom: 0%;
        }
        .fifth_section {
            background-color: white;
            text-align: center;
            padding-left: 16%;
            padding-right: 16%;
            padding-bottom: 10%;
        }
        .fifth_section h3 {
            font-size: 4vw;
            padding-bottom: 5%;
        }
        footer {
            height: 20vw;
        }
    }